RESEND_API_KEY=re_xxxxxxxx
CONTACT_FROM_EMAIL=onboarding@resend.dev                #à modifier par contact@centralelyon-ia.com par exemple quand on aura le domaine
CONTACT_NOTIFY_EMAILS=alice@example.com,bob@example.com #idem